<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | Water Delivery</title>

    <link href="../static/css/login.css" type="text/css" th:href="@{/css/login.css}" rel="stylesheet">


</head>
<body>

<div class="header">
</div>

<div class="form">
    <form th:action="@{/login}" method="post" >
        <input id="login" name="username" type="text" placeholder="username"><br/>
        <input name="password" type="password" placeholder="password"><br/>
        <input type="submit" value="Log in">
    </form>
</div>

</body>
</html>